EVTrainingBot/configs/attackConfig.ini
EVTrainingBot/configs/defenseConfig.ini
EVTrainingBot/configs/hpConfig.ini
EVTrainingBot/configs/specialDefConfig.ini
EVTrainingBot/configs/specialDefHoennConfig.ini
EVTrainingBot/scripts/Screenshots
EVTrainingBot/configs/specialAtkConfig.ini
EVTrainingBot/configs/specialDefKantoConfig.ini

